<h2>Snapshot</h2>
<table>
  <tr>
    <th>Location</th>
    <td><%= @snapshot.location %></td>
  </tr>
  <tr>
    <th>Created</th>
    <td><%= @snapshot.created_time %></td>
  </tr>
  <tr>
    <th>Job Post Content</th>
    <td><%= @snapshot.job_post_content %></td>
  </tr>
</table>